[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"psycopg2-binary" = "*"
django = "*"
django_heroku="*"
gunicorn="*"
crispy-forms-materialize = "*"
django-crispy-forms = "*"
sendgrid = "*"

[requires]
python_version = "3.6"
