.header {
    font-size: 19pt;
    margin-top: 28px;
}

.title {
    padding-left: 14px;
}


.body {
    font-size: 12pt;
    padding-bottom: 22px;
}

.spacer {
    padding-top: 20px
}

.header-img {
    width: 100%;
}

.footer {
    margin-top: 125px;
    padding: 18px;
}

.message-bar {
    padding: 6px;
    border-radius: 4px;
}

.d-flex {
    display: flex
}

.mr-3 {
    margin-right: 16px;
}



@media only screen and (max-width: 450px) {
    .calendar {
        width: 115px;
        padding-top: 20px;

    }

    .img-group {
        width: 130px;
        display: grid;
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
    }

    .military-img {
        max-width: 100%;
    }

    .home-card {
        height: 405px;
    }
}

@media only screen and (min-width: 600px) {
    .calendar {
        width: 125px;
        padding-top: 20px;

    }

    .img-group {
        width: 120px;
        display: grid;
        grid-template-columns: repeat(4, 145px);
        grid-gap: 28px;
    }

    .military-img {
        max-width: 100%;
    }

    .home-card {
        height: 405px;
    }
}

@media only screen and (min-width: 1000px) {
    .calendar {
        width: 145px;
        padding-top: 20px;
    }

    .img-group {
        width: 145px;
        display: grid;
        grid-template-columns: repeat(4, 160px);
        grid-gap: 148px;
    }

    .military-img {
        max-width: 100%;
    }

    .home-card {
        height: 405px;
    }
}