{% extends 'base.html' %} {% block body %}
<title>VFW | All Upcoming Events</title>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper red darken-4 z-depth-4">
            <span class="flow-text title">VFW Post 4100</span>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'home' %}">Home</a></li>
</ul>
<div class="container">
    <div class="card">
        {% if events|length == 0 %}
        <div class="card-content">
            <p class="card-title ">
                <u>No upcoming events</u>
            </p>
        </div>
        {% else %}
        {% for event in events %}
        <div class="card-content">
            <p class="card-title">
                <a href="{% url 'event' event.id %}">
                    {{ event.event_title }}
                </a>
                <p><small class="text-gray darken-3">{{ event.date }}</small></p>
                <p><small class="text-gray">{{ event.location }}</small></p>
            </p>
            <hr>
        </div>
        {% endfor %}
        {% endif %}

        <div class="card-content">
            <form action="{% url 'home' %}">
                <button class="btn waves-effect blue darken-3">Home</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}