{% extends 'base.html' %} {% block body %}
<title>VFW | {{event.event_title}}</title>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper red darken-4 z-depth-4">
            <span class="flow-text title">VFW Post 4100</span>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'all-events' %}">All Events</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'all-events' %}">All Events</a></li>
</ul>
<div class="container">
    <div class="card">
        <div class="card-content">
            <div class="center-align card-title">{{event.event_title}}</div>
            <hr>
            <div class="events">
                <div class="event-items">
                    <b class="event-titles">Date:</b>
                    <p>{{event.date}}</p>
                </div>
                <div class="event-items">
                    <b class="event-titles">Time:</b>
                    <p>{{event.time}}</p>
                </div>
                <div class="event-items">
                    <b class="event-titles">Band:</b>
                    <p>{{event.band}}</p>
                </div>
                <div class="event-items">
                    <b class="event-titles">Location:</b>
                    <p>{{event.location}}</p>
                </div>
                <div class="event-items">
                    <b class="event-titles">Remarks:</b>
                    <p>{{event.remarks}}</p>
                </div>
            </div>
            <div class="d-flex space">
                <div class="left-align">
                    <form action="{% url 'all-events' %}">
                        <button class="btn waves-effect blue darken-3">Back</button>
                    </form>
                </div>
                <div class="right-align">
                    {% if user.is_staff %}
                    <form action="{% url 'delete-event' event.id %}">
                        <button class="btn waves-effect red darken-3">Delete</button>
                    </form>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}