{% extends 'base.html' %} {% block body %}
<title>VFW | Home</title>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper red darken-4 z-depth-4">
            <span class="flow-text title">VFW Post 4100</span>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'sign-up' %}">Sign Up</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a href="#">Login</a></li>
    <li><a href="{% url 'sign-up' %}">Sign Up</a></li>

</ul>
<div class="col s12 m8 l12">
    <img class="responsive-img header-img" src="/static/images/merica.jpg" alt="Dunn's Country Store">
</div>
<div class="container">
    <div class="spacer">
        {% if messages %}
        {% for message in messages %}
        <div class="center-align blue darken-3 br p-2">
            <span class="flow-text white-text">{{ message }}</span>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col l4 s12">
            <div class="card home-card">
                <div class="card-content">
                    <span class="card-title center-align">Hours of Operation</span>
                    <hr>
                    <div class="center-align">
                        <span class="header">Friday</span>
                        <p class="grey-text body">This night is Bingo! Games starts at 6:00 P.M. Finishes after the last
                            game. Come on out for some good ole Bingo!</p>
                    </div>
                    <hr>
                    <div class="center-align">
                        <span class="header">Saturday</span>
                        <p class="grey-text body">Want to dance? Well you can come do the jig at the VFW! Give us a call
                            for availablity and the featured band.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 s12">
            <div class="card home-card">
                <div class="card-content">
                    <span class="card-title center-align">Location</span>
                    <hr>
                    <div class="row">
                        <iframe class="col l12 s12"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3300.343081176945!2d-89.65796498478137!3d34.188709580569025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88806a5aa6285b85%3A0x8afa60e258991c08!2sVfw+Post+4100!5e0!3m2!1sen!2sus!4v1557796102982!5m2!1sen!2sus"
                            width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l4 s12">
            <div class="card home-card">
                <div class="card-content">
                    <span class="card-title center-align">Calendar</span>
                    <hr>
                    <div class="center-align spacer">
                        <form action="#">
                            <button class="btn waves-effect red darken-1" type="submit">Upcoming Events</button>
                        </form>
                        <img src="/static/images/calendar.png" alt="Calendar" class="calendar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <footer>
        <div class="row">
            <div class="img-group">
                <img class="military-img" src="/static/images/marines.PNG" alt="Marines">
                <img class="military-img" src="/static/images/navy.PNG" alt="Seals">
                <img class="military-img" src="/static/images/army.PNG" alt="Army">
                <img class="military-img" src="/static/images/airforce.PNG" alt="Airforce">
            </div>
        </div>
</div>
<div class="footer red darken-4">
    <div class="container">
        <span class="white-text">Copyright &copy 2019 | VFW Post 4100 | All rights reserved</span>
    </div>
</div>
</footer>

{% endblock body %}