{% extends 'base.html' %} {% block body %}
<title>VFW | Logou</title>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper red darken-4 z-depth-4">
            <span class="flow-text title">VFW Post 4100</span>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'home' %}">Home</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="sidenav" id="mobile-demo">
    <li><a href="{% url 'home' %}">Home</a></li>
</ul>
{% endblock body %}